.wave {
  animation: pathAnim-0 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 120.85714285714283,196.89285714285714 241.71428571428567,143.78571428571428 377,165 C 512.2857142857143,186.21428571428572 661.9999999999999,281.75 779,323 C 896.0000000000001,364.25 980.2857142857142,351.2142857142857 1085,330 C 1189.7142857142858,308.7857142857143 1314.857142857143,279.3928571428571 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 93.32142857142858,208.60714285714286 186.64285714285717,167.21428571428572 296,157 C 405.35714285714283,146.78571428571428 530.75,167.75000000000003 655,170 C 779.25,172.24999999999997 902.3571428571429,155.78571428571428 1033,166 C 1163.642857142857,176.21428571428572 1301.8214285714284,213.10714285714286 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 90.82142857142858,283.5357142857143 181.64285714285717,317.07142857142856 306,333 C 430.35714285714283,348.92857142857144 588.2499999999999,347.25 712,311 C 835.7500000000001,274.75 925.3571428571429,203.92857142857144 1041,188 C 1156.642857142857,172.07142857142856 1298.3214285714284,211.03571428571428 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 110.03571428571428,289.5 220.07142857142856,329 353,295 C 485.92857142857144,261 641.7499999999999,153.49999999999997 780,165 C 918.2500000000001,176.50000000000003 1038.9285714285716,307.00000000000006 1146,341 C 1253.0714285714284,374.99999999999994 1346.5357142857142,312.5 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 120.85714285714283,196.89285714285714 241.71428571428567,143.78571428571428 377,165 C 512.2857142857143,186.21428571428572 661.9999999999999,281.75 779,323 C 896.0000000000001,364.25 980.2857142857142,351.2142857142857 1085,330 C 1189.7142857142858,308.7857142857143 1314.857142857143,279.3928571428571 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
}
